<h2>Cadastrar Livro </h2>

<form action="/register/save" method="post">
    <div>
        <label for="name">Titulo:</label>
        <input type="text " name="name" placeholder="Digite o titulo: " id=" name">
    </div>
    <div>
        <label for="pageqty">Numero de paginas </label>
        <input type="number" name="pageqty" placeholder="Quantas paginas o livro possui? " id="pageqty">
    </div>

    <button type="submit">
        Cadastrar
    </button>

</form>